.trackHeader {
    display: flex;
    font-size: 1.5vmin !important;
    width: 12vw;
    height: 10vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: ivory;
    border: .3vmin;
    border-style: solid;
    border-color: rgb(12, 6, 2);
    background: url('../../assets/images/darkwood.jpeg');
    background-size: cover;
}