.welcome-text {
    font-size: 5vmin;
    letter-spacing: .5vmin;
    text-align: center;
    margin: 0 20vmin 0 20vmin;
    font-style: italic;
    line-height: 5vmin;
    width: 100vw;
    height: 55vh;
    align-self: center;
    padding: 2vmin;
}