@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: black;
  background-color: black;
}

input {
  color: black;
  padding-left: .5vmin;
}

button {
  background-color: black;
  color: ivory;
  padding: 1vmin;
  border-radius: 10rem;
}


