@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: black;
  background-color: black;
}

input {
  color: black;
}

a {
  color: rgb(101, 8, 8);
}

button {
  background-color: black !important;
  color: ivory;
  padding: 1vmin;
  border-radius: 10rem;
}


