@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Karla&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: black;
  /* background-color: rgb(40, 40, 40); */
  /*
  light: 4
  med: 1
  dark: 3
  */
  background: url('../src/assets/images/cement.jpeg');
  background-size: cover;
  background-position: center;
}

a, .link {
  transform: scale(1);
}

a:hover, .link:hover{
  transform: scale(1.2);
  transition: transform 100ms ease-in;
}as

input {
  color: ivory;
  background-color: black;
  padding-left: .5vmin;
}

button {
  background-color: black;
  color: ivory;
  padding: 1vmin;
  border: .3vmin;
  border-radius: 10rem;
  border-color: black;
  border-style: solid;
  transform: scale(1)
}

button:hover {
  transform: scale(1.05);
  transition: transform 75ms ease-in;
}